
*{
    box-sizing: border-box;
}

@media (min-width: 700px) {

    nav{
        width: 100%;
        height: 50px;
        border-bottom: 1px solid red;
    }

.logo { 
    float: left;
    font-size: 30px;
    padding-left: 30px;
    padding-top: 8px;
}

nav ul {
    margin-left: 30%;
    padding-top: 16px;
    
}
nav ul li{
    display: inline;
    margin:50px;
    font-size: 20px;
}

nav ul li:hover{
    background: blueviolet;
    color: white;
    padding: 10px;
    font-size: 20px;
}

section{
    margin-top: 100px;
    padding: 5px;
    margin-right: 15%;
    float: left;
    
}

img {
    height: 150px;
    width: 350px;
    float: left;
    margin: 0 10px 10px 10px;
}

section p{
    font-size: 18px;
    line-height: 1.5em;
    margin: 0 10px 10px 10px;

    
}

.sidebar{
    position: absolute;
    right:0px;
    height: 60%;
    width: 15%;
    border: 1px solid black;
    margin-top: 100px;
    text-align: center;
    padding-top: 20px;
}

.sidebar a {
    font-size: 20px;
}

footer {
    height: 5%;
    border: 1px solid black;
    width: 100%;
    position: fixed; 
    bottom: 0px;
    text-align: center;
    background-color: white;
}
}

@media (max-width: 700px) {
    nav {
        text-align: center;
        height: 240px;
        width: 100%;
        border-bottom: 1px solid red;
    }
    .logo { 
        font-size: 30px;
        padding-top: 8px;
        
    }
    nav ul{
        font-size: 20px;
        text-decoration: none;
    }

    nav ul li {
        padding: 10px;
        list-style-type: none;


        
    }

    section{
        width: 100%;
        text-align: center;
        padding: 25px;

    }

    section p{
        font-size: 18px;
        line-height: 1.5em;
    }
    img{
        height: 100px;
        width: 300px;
        margin-bottom: 25px;
    }

    .sidebar{
        text-align: center;
        border-top: 1px solid black;
        padding: 10px;
        width: 100%;
        height: 300px;
    }
    .sidebar a{
        font-size: 20px;

    }
    footer{
        height: 5%;
        border: 1px solid black;
        width: 100%;
        position: fixed; 
        bottom: 0px;
        text-align: center;
        padding: 10px;
        background-color: white;

    }
}