
html {
    box-sizing: border-box;} *,
    *:before, *:after {box-sizing: inherit;

}
.box-1 {
    width: 300px;
    height: 600px;
    border: 5px solid black;
    padding: 20px;
    margin: 0 auto;
  
}

.box-2 {
    width: 90%;
    height: 50%;
    border: 1px solid black;
    margin: 0 auto;
    text-align: center;
    padding-top: 10px;

}
.box-3 {
    width: 50%;
    height: 50%;
    border: 1px solid black;
    float: left;
    margin: 0 auto;
    text-align: center;
    margin-top: 10px;
}