.container {
    height: 250px;
    max-width: 500px;
    border: 2px solid black;
    position: absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    margin: auto;
}

img {
    width: 100%;
    height: 100%;
}

@media screen and (max-width:900px) {
    img {
        display: none;
    }
}

@media screen and (min-width:900px) {
    p {
        display: none;
    }
}